<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>primeiro Site</title>
  <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
   <header>
<img src="../img/kisspng-sport-club-corinthians-paulista-corinthian-f-c-co-corinthians-5b25c955ec5de6.0954962715292030299682.png" alt="logo do corinthians" id="imagem-header">

    <ul id="LinksH">
    <Li><a href="../index.html">Inicio</a></Li>
    <Li><a href="jogos.html">Jogos</a></Li>
    <Li><a href="https://www.corinthians.com.br/clube/titulos">Títulos</a></Li>
    <Li><a href="https://www.corinthians.com.br/">Site Oficial</a></Li>
    </ul>
    
    <div>
    <input type="text" name="" id="">
    <button>Pesquisar</button>
    </div>
   </header>
  <main>
    <h1>Tabela Paulista</h1>


    <h2>Primeira fase</h2>
    <figure>
      <img src="../img/paulista.png" alt="Minha Figura">
      <figcaption>SCCP</figcaption>
    </figure>
  </main>
  <footer>
    <h3>Site em construção !</h3>
    <p>&copy; DekiN BSB</p>
    <p>Aprendendo a criar</p>
    <p>Atualizado dia 12/01/2023 </p>

    </footer>
 
</body>
</html>